.pagination {
  display: flex;
  column-gap: 0.25em;
}

.pagination__btn {
  padding: 0.75em;
  border: 1px solid #000000;
  border-radius: 1em;
  font-size: 1em;
  text-align: center;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: rgb(228, 228, 228);
  }

  &.active {
    background-color: #000000;
    color: #ffffff;
  }

  &.disabled {
    pointer-events: none;
    color: rgb(228, 228, 228);
  }
}
